@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1001 Woodward Ave.<br />
    Detroit, MI 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    313.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@JJH.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@JJH.com</a>
</address>